/* Imports - Tipografía */
@font-face {
  font-family: "Bold";
/*   src: url("https: //res.cloudinary.com/drj7gvvzq/raw/upload/v1652195316/PPFuji-Bold_gv52cd.woff"), format("woff"); */
  src: url("https://res.cloudinary.com/pmichventura/raw/upload/v1652196261/CENTRO/Fuji-Bold_ueisgb.woff2"), format("woff2");
}

@font-face {
  font-family: "Light";
/*   src: url("https: //res.cloudinary.com/drj7gvvzq/raw/upload/v1652195316/PPFuji-Light-2_sjggja.woff"), format("woff"); */
  src: url("https://res.cloudinary.com/pmichventura/raw/upload/v1652196261/CENTRO/Fuji-Light_neqxbw.woff2"), format("woff2");
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

body {
  line-height: 1.5;
  min-height: 100vh;
}

ul {
  margin: 0;
  padding-inline: 0;
}

li {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behaviour: auto !important;
  }
}

/* Variables */
:root {
  /* 1. Colores */
  --black: #000000;
  --white: #ffffff;
  /* 2. Tipografía */
  --font-bold: "Bold";
  --font-light: "Light";
  --font-size-1: 1rem;
  --font-size-2: 1.1rem;
  --font-size-3: 1.25rem;
  --font-size-4: 1.5rem;
  --font-size-5: 2rem;
  --font-size-6: 2.5rem;
  --font-size-fluid-1: clamp(1rem, 4vw, 1.5rem);
  --font-size-fluid-2: clamp(1.5rem, 6vw, 2.5rem);
  --font-size-fluid-3: clamp(2rem, 9vw, 3.5rem);
  /* 3. Layouts */
  --size-mobile: 414px;
  --size-desktop: 1440px;
}

/* Base */
body {
  font-family: var(--font-light);
  background-color: var(--white);
  color: var(--black);
}

.light {
  font-family: var(--font-light);
}

.bold {
  font-family: var(--font-bold);
}

.head {
  display: flex;
}

.head img {
  width: 40%;
}

.head svg {
  width: 25pt;
  margin-left: auto;
  margin-right: 60px;
}

/* Proyectos */
.proyectos {
  padding: 70px;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr auto;

  margin: auto;
}

.proyecto {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;

  /*border: 2px solid black;*/
}

.proyecto img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  grid-column: 1 / 3;
}

.proyecto svg {
  width: 20%;
  color: #e95282;
  grid-row: 2;
  grid-column: 2 / 3;
  margin-left: auto;

}

.proyecto h2 {
  padding: 10PX;
}

.proyecto p {
  padding: 2PX;
  grid-row: 2;
  grid-column: 2 / 3;
}
