/* Imports - Tipografía */

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

body {
  line-height: 1.5;
  min-height: 100vh;
}

ul {
  margin: 0;
  padding-inline: 0;
}

li {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Variables */
:root {
  /* 1. Colores */
  --black: #000000;
  --white: #ffffff;
  /* 2. Tipografía */
  --font-bold: "Bold";
  --font-light: "Light";
  --font-size-1: 1rem;
  --font-size-2: 1.1rem;
  --font-size-3: 1.25rem;
  --font-size-4: 1.5rem;
  --font-size-5: 2rem;
  --font-size-6: 2.5rem;
  --font-size-fluid-1: clamp(1rem, 4vw, 1.5rem);
  --font-size-fluid-2: clamp(1.5rem, 6vw, 2.5rem);
  --font-size-fluid-3: clamp(2rem, 9vw, 3.5rem);
  /* 3. Layouts */
  --size-mobile: 414px;
  --size-desktop: 1440px;
  font-family: 'Bebas Neue', cursive;
}

/* Base */
/* .texto  {
  position: absolute;
  background-color: red;;
  width: 15%;

}
.texto  img{
  top: 20px;
  position: sticky;

} */

body {
  font-family: 'Bebas Neue', cursive;
  background-color: var(--white);
  color: var(--black);
}

.head {
  position: sticky;
  top: 0;
  display: flex;
  border-bottom: 2.5px solid #000000;
  background-color: white;
  z-index: 1;
  overflow: visible;
}

/* .head::after {
  position: absolute;
  top: 91px;
  left: 0;
  z-index: 2;
  background-image: url('https: //res.cloudinary.com/drj7gvvzq/image/upload/v1652806102/PROYECTO_Mesa_de_trabajo_1_copia_14_wcjr1i.png');
    height: 90px;
      margin: auto;
      margin-left: 0;
} */

.head img {
  height: 120px;
  margin: auto;
  margin-left: 40px;
}

.head svg {
  color: #e48ca6;
  width: 45px;
  height: auto;
  margin-left: auto;
  margin-right: 60px;
  right: 0;
  top: 20px;
}



/* Proyectos */
.proyectos {
  padding: 70px;
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr auto;
  margin-left: 15%;
  margin-top: 5%;
  margin-bottom: 10%;
}

.proyecto {
  position: relative;
  /* display: grid; */
  overflow-x: hidden;
}


.proyecto svg {
  color: #e48ca6;
  width: 45px;
  height: auto;
  right: 0;
  bottom: 20;
}


.proyectos img {
  width: auto;
  height: 500px;
  object-fit: cover;
  grid-column: 1 / 3;
  border: 2px solid black;

}

.titulo {
  display: flex;
  border: 2px solid black;
  border-top: #ffffff;
  font-size: 25px;
}

.titulo img {
  width: 10px;
  height: 90px;
  margin-left: auto;
}

.proyecto h2 {
  padding: 10PX;
}

.proyecto ul {
  display: flex;
  column-gap: 30px;
  font-size: 25px;
  display: flex;
  border: 2px solid black;
  border-top: #ffffff;
  padding-left: 12px;
}

/* Individual */
.individual {
  width: 100%;
  height: auto;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-left: 40px;
  margin-top: 40px;

}


.individual div:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/2;
  border: 2px solid black;
}

.individual div:nth-child(2) {
  grid-column: 2/3;
  grid-row: 1/2;
  border: 2px solid black;
}

.individual div:nth-child(3) {
  grid-column: 1/2;
  grid-row: 2/3;
  border: 2px solid black;
}

.individual div:nth-child(4) {
  grid-column: 2/3;
  grid-row: 2/3;
  border: 2px solid black;
}

.individual div:nth-child(5) {
  grid-column: 3/5;
  grid-row: 1/3;
  width: 100%;
  padding-right: 30%;
  margin-left: 30%;
}

.individual div:nth-child(5) img {
  width: 50px;
  height: 100px;
}

.individual .descripcion {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  place-self: center;
  gap: 20px;
  margin-left: 5%;
  padding-right: 5%;
}

.individual .descripcion h2 {
  grid-column: 1/3;
  grid-row: 1;
  font-size: 700%;
}

.individual .descripcion img {
  grid-column: 1/2;
  grid-row: 2;
  height: 30%;
}

.individual .descripcion p {
  grid-column: 2/3;
  grid-row: 2;
}

/* button-swing {
  color: #65b5f6;
  background-color: transparent;
  border: 1px solid #65b5f6;
  border-radius: 4px;
  padding: 0 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button-swing:focus {
  animation: swing 1s ease;
  animation-iteration-count: 1;
}

@keyframes swing {
  15% {
    transform: translateX(5px);
  }

  30% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(3px);
  }

  65% {
    transform: translateX(-3px);
  }

  80% {
    transform: translateX(2px);
  }

  100% {
    transform: translateX(0);
  }
} */
